body {
    font-family: "Oswald", sans-serif;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#city-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#search-button i {
    margin-right: 5px;
}

#search-button:hover {
    background-color: #0056b3;
}
